{% extends "layout.html" %}
{% block body %}
  <div class="card mt-3">
    <div class="card-header"><h2>Edit User Information</h2></div>
    <div class="card-body">
      <form action="{{ url_for('users.edit') }}" method=post>
        {{ forms.input('email', type='email', label='Email', placeholder='name@example.com', value=u.email, readonly='readonly') }}
        {{ forms.input('nickname', type='text', label='Nickname', placeholder=u.nickname, value=u.nickname) }}
        {{ forms.submit('Edit') }}
      </form>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header"><h2>Change your password</h2></div>
    <div class="card-body">
      <form action="{{ url_for('users.editPwd') }}" method=post>
        {{ forms.input('oldPassword', type='password', label='Old password') }}
        {{ forms.input('newPassword', type='password', label='New password') }}
        {{ forms.input('newPassword2', type='password', label='Repeat password') }}
        {{ forms.submit('Edit') }}
      </form>
    </div>
  </div>
{% endblock %}
