{% extends "layout.html" %}
{% block cardtitle %}
  <h2>Login</h2>
{% endblock %}
{% block cardbody %}
  <form action="{{ url_for('users.login') }}" method=post>
    {{ forms.input('email', type='email', value=email, label='Email adress', placeholder='name@example.com') }}
    {{ forms.input('password', type='password', label='Password', placeholder='Password') }}
    {{ forms.submit('Login') }}
  </form>
  <hr/><a href="{{ url_for('users.register') }}">Don't have account? Go to register</a>
{% endblock %}