{% extends "layout.html" %}
{% block body %}
  <div class="card mt-3 stream">
  <ul class="entries list-group list-group-flush">
    <li class="list-group-item">
      {{ forms.textarea('message_content', label='Content of message', value=m.content, readonly='readonly') }}
    </li>
    {% if session.logged_in %}
    <form action="{{ url_for('comment.add') }}" method=post>
      <input type=text name="msg_id" value={{m.msg_id}} hidden>
      <li class="list-group-item comment">
        {{ forms.special_input('content', type='text', placeholder='New comment ...') }}
      </li>
    </form>
    {% endif %}
    {% for c in cs %}
    <li class="list-group-item comment">
      {{ macros.message(id=c.cmt_id, content=c.content, nickname=c.nickname, user_id=c.user_id, like=c.like_flag, date=c.c_time, is_comment=True, is_mine=c.user_id==user_id, like_num=c.like_num) }}
    </li>
    {% else %}
      <li class="list-group-item"><em>Unbelievable.  No messages here so far</em></li>
    {% endfor %}
  </ul>
  </div>
{% endblock %}