{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <form action="{{ url_for('comment.add') }}" method=post>
      <dl>
        <dt>Content of message:
        <dd><p>{{m.2}}</p></dd>
        <hr>
        <div class="div_center">
            comment:&nbsp&nbsp
            <input type=text class="input_none" name="msg_id" value={{m.0}}>
            <input type=text class="input_comment" name="content">
            <input type=submit value=send>
        </div>
      </dl>
  </form>
  {% endif %}
  <ul class=entries>
  {% for c in cs %}
    <dl>
        <li>{{ c.5 }}:{{ c.3|safe }}</li>
        <div class="div_delete">
            <a href='/../comment/edit/{{c.0}}'>Edit</a>
            &nbsp
            <a href='/../comment/delete/{{c.0}}' onclick="return confirm('Are you sure to delete it?')">Delete</a>
            &nbsp
            {% if c.6 == 1 %}
                <a href='/../like_cmt/unlike/{{c.0}}'>Unlike</a>
            {% else %}
                <a href='/../like_cmt/like/{{c.0}}'>Like</a>
            {% endif %}
        </div>

        <hr>
    </dl>
  {% else %}
    <li><em>Unbelievable.  No comments here so far</em>
  {% endfor %}
  </ul>
{% endblock %}