{% import 'global_var.html' as GL %}
<div class='container'>
<nav class="navbar navbar-light">
  <a class="navbar-brand" href="{{ url_for('show_entries') }}"><span class="bg-primary rounded-circle" id="logo">{{ GL.APPLICATION_NAME_FIRST_LETTER }}</span>{{ GL.APPLICATION_NAME }}</a>
  <div class="float-right align-middle">
  {% if not session.logged_in %}
    <a href="{{ url_for('users.login') }}">Login</a>
  {% else %}
    <a href="{{ url_for('relation.list') }}">{{ session.logged_email }}</a> / 
    <a href="{{ url_for('users.edit') }}">Settings</a> / 
    <a href="{{ url_for('users.logout') }}">Logout</a>
  {% endif %}
  </div>
</nav>
</div>