{% import 'forms.html' as forms %}
{% import 'macros.html' as macros %}
{% import 'global_var.html' as GL %}

<!doctype html>
<html lang="en">
<head>
  {% block head %}
  <title>{% block title %}Page{% endblock %} - {{ GL.APPLICATION_NAME }}</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  {% endblock %}
</head>

<body class="bg-faded">
  {% include 'header.html' %}
  <div class="container">
  {% include 'flash_messages.html' %}
    {% block body %}
      <div class="card mt-3">
        <div class="card-header">{% block cardtitle %}{% endblock %}</div>
        <div class="card-body">{% block cardbody %}{% endblock %}</div>
      </div>
    {% endblock %}
  </div>
  {% include 'footer.html' %}
  <script src="{{ url_for('static', filename='jquery-3.2.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='popper.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
</html>