{% extends "layout.html" %}
{% block body %}
  <h2>Login</h2>
  {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
  {% endif %}
  <form action="{{ url_for('users.login') }}" method=post>
    {{ forms.input('email', type='email', label='Email adress', placeholder='name@example.com') }}
    {{ forms.input('password', type='password', label='Password', placeholder='Password') }}
    {{ forms.submit('Login') }}
  </form>
  <hr/><a href="{{ url_for('users.register') }}">Don't have account? Go to register</a>
{% endblock %}