{% extends "layout.html" %}
{% block cardtitle %}
  <h2>Create a new account</h2>
{% endblock %}
{% block cardbody %}
  <form action="{{ url_for('users.register') }}" method=post>
    {{ forms.input('email', type='email', label='Email adress', placeholder='name@example.com') }}
    {{ forms.input('nickname', type='text', label='Nickname', placeholder='yournickname') }}
    {{ forms.input('password', type='password', label='Password', placeholder='Password') }}
    {{ forms.input('password2', type='password', label='Repeat your password', placeholder='Repeat your password') }}
    {{ forms.submit('Register') }}
  </form>
{% endblock %}
