{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  <div class="card mt-3">
    <div class="card-body">
      <form action="{{ url_for('message.add') }}" method=post class=add-entry>
        {{ forms.special_input('content', type='text', placeholder='New post ...') }}
      </form>
    </div>
  </div>
  {% endif %}
  <div class="card mt-3 stream">
  <ul class="entries list-group list-group-flush">
  {% for m in ms %}
    <li class="list-group-item">
      {{ macros.message(id=m.msg_id, content=m.content, nickname=m.nickname, user_id=m.user_id, like=m.like_flag, date=m.c_time, is_mine=m.is_mine) }}
    </li>
  {% else %}
    <li class="list-group-item"><em>Unbelievable.  No messages here so far</em></li>
  {% endfor %}
  </ul>
  </div>
{% endblock %}